<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NER</title>
</head>
<body>
<form action="/perform_ner" method="post">
    <h2>Named Entity Recognition(NER)</h2>
    <label> Type your text here</label><br><br>
    <textarea name="ner_text"></textarea><br><br>
    <input type="Submit" value="Perfrom NER">
</form>
{% if response %}
    {% for i in response['entities']: %}
        <p>{{ i['category']+":"+i['name'] }}</p>
    {% endfor %}
{% endif %}
</body>
</html>